*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family:"Raleway-Light" ;
    src: url(../font/Raleway-Light.ttf);
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(../font/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../font/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(../font/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url(../font/Roboto-Light.ttf);
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding-left: 51px;
    height: 84px;
    box-shadow: 2.72px 8px 24px rgba(0, 0, 0, 0.05);
    font-family: "Raleway-Medium";
    width: 100vw;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 263px;
    font-size: 24px;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

header::after {
    content: "";
    display: inline-block;
    width: 10px;
}

.nav_block {
    display: flex;
    justify-content: space-evenly;
    width: 274px;
    font-size: 24px;
    list-style: none;
}

.nav_block a {
    text-decoration: none;
    color: #344547;
}

.accueil::after {
    content: "|";
    margin-left: 20px;
}

.nav_block a:hover {
    border-bottom: 2px solid #344547;
}

/* Fin du Header */

.home {
    height: 100vh;
    background-image: url("../img/Cap-noir-bestjobers.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home h1 {
    width: 702px;
    color: white;
    font-size: 96px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
    text-align: center;
    font-family: "Raleway-Bold";
}

/* Fin de la page d'accueil */
.menu h3, .menu p {
    width: 375px;
}

.menu {
    height: 828px;
}

.menu h2 {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    font-size: 36px;
    margin-top: 73px;
    margin-bottom: 73px;
    font-family:"Roboto-Light";
    font-weight: 300;
}

.card_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.card {
    width: 420px;
    height: 493px;
    border-radius: 5px;
    background-color: white;
    filter: drop-shadow(2.72px 8px 24px rgba(0, 0, 0, 0.05));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    color: #5F8A4C;
    font-size: 24px;
    font-family: "Raleway-SemiBold";
}

.card p {
    color: #696767;
    font-size: 20px;
    font-family: "Roboto-Light";
}

.btn {
    width: 161px;
    Height: 40px;
    background: rgba(217, 128, 81, 0.6);
    border-radius: 5px;
    color: white;
    padding: 9px 26px;
    border: none;
    float: right;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: 23px;
    font-family: "Raleway-SemiBold";
    font-size: 20px;
}
.btn:hover{
    background-color: #D98051;
}

/* Fin de la page menu */

footer{
    background-color: #344547;
    display: flex;
    flex-direction: column;
    height: 431px;
    color: white;
}
footer h4{
    font-size: 24px;
    font-family: "Raleway-Bold";
    margin-bottom: 36px;
}
.content_footer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 47px;
}
.logo_footer{
    text-align: center;
    font-size:32px;
 
    font-family: "Raleway-Light" ;
}
.logo_footer img{
    margin-bottom: 22px;
}
.menu_footer li{
    list-style: none;
    margin-bottom: 20px;

}
.menu_footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Raleway-Medium";
}
.youtube a, .twitch a{
    text-decoration: none;
    color: white;
}
.youtube{
    margin-bottom: 20px;
}
.youtube, .twitch{
    display: flex;
    align-items: center;
    font-family: "Raleway-Medium";
}
.youtube span{
    margin-left: 10px;
}

.twitch span{
    margin-left: 18px;
}
.twitch img{
    padding-left: 5px;
}
.copy{
    text-align: center;
    font-family: "Raleway-Medium";
font-size: 20px;
margin-bottom: 36px;
}



